body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.canvasContainer {
  margin: 50px;
  height: 400px;
  flex: 0.7;
}
.canvasCard {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.canvasCard > button {
  width: 100%;
  height: 10%;
  color: white;
  font-size: 34px;
  font-weight: 50;
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
}
.canvasCard > p {
  font-size: 25px;
  text-align: left;
}

.canvasContainerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}
.canvasContainerFlex > * {
  margin-left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
